<!DOCTYPE html>
<html>
<head>
	<title>Imagine Dragons Fan Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="C:\Users\HP-ENVY\Desktop\Nikka\public\css\app.css">
	<link rel="stylesheet" type="text/css" href="public/app.css">
</head>
<body>


<div id= "app"></div>


	

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script type="text/javascript" src="C:/Users/HP-ENVY/Desktop/Nikka/public/js/app.js"> </script>
<script type="text/javascript" src="public/app.js"></script>


</body>

</html>